In [1]:
# 1. Write a program to accept percentage from the user and display the grade according to 
# the following criteria:

# Marks              Grade
# >90                 A
# >80 and <=90        B
# >=60 and <=80       C
# below 60            D

marks=float(input("Enter percentage of Marks obtained : "))
if(marks>90):
    grade="A"
elif(marks>80):
    grade="B"
elif(marks>=60):
    grade="C"
else:
    grade="D"
print()
print("Marks\tGrade")
print(marks,"\t",grade)

Enter percentage of Marks obtained :  95

Marks	Grade
95.0 	 A

In [2]:
# 2. Write a program to accept the cost price of a bike and display the road tax to be paid 
# according to the following criteria:

# Tax       Cost Price(in Rs)
# 15%        >100000
# 10%        >50000 and <=100000
# 5%         <=50000

cost_price_of_bike=float(input("Enter cost price of a bike : "))
if(cost_price_of_bike>100000):
    tax="15%"
    payable_tax_amount=cost_price_of_bike*15/100
elif(cost_price_of_bike>50000):
    tax="10%"
    payable_tax_amount=cost_price_of_bike*10/100
else:
    tax="5%"
    payable_tax_amount=cost_price_of_bike*5/100
print()
print("Tax \t Cost Price(in Rs) \t Payable tax amount(in Rs)")
print(tax,"\t",cost_price_of_bike,"\t\t",payable_tax_amount)

Enter cost price of a bike :  123456

Tax 	 Cost Price(in Rs) 	 Payable tax amount(in Rs)
15% 	 123456.0 		 18518.4

In [3]:
# Accept any city from the user and display monuments of that city

# City             Monument
# Delhi            Red Fort
# Agra             Taj Mahal
# jaiput           Jal Mahal

city=input("enter city name : ")
if(city.lower()=="delhi"):
    monument="Red Fort"
    print()
    print("City \t Monument")
    print(city.capitalize(),"\t",monument)
elif(city.lower()=="agra"):
    monument="Taj Mahal"
    print()
    print("City \t Monument")
    print(city.capitalize(),"\t",monument)
elif(city.lower()=="jaipur"):
    monument="Jal Mahal"
    print()
    print("City \t Monument")
    print(city.capitalize(),"\t",monument)
else:
    print("Monuments name only exists for 'Delhi','Agra' and 'Jaipur' ")

enter city name :  jaipur

City 	 Monument
Jaipur 	 Jal Mahal

In [4]:
# 4. Check how many times a given number is divisible by 3 before it is less than or equal to 10

num=int(input("Enter a number : "))
temp=num
count=0
if(temp<=10):
    print("Number must have to be greater than 10 for this operation")
else:
    while temp>10:
        temp/=3
        count+=1
    print("'{}' can be divisible by 3 '{}' times before it is less than or equal to 10".format(num,count))

Enter a number :  1543

'1543' can be divisible by 3 '5' times before it is less than or equal to 10

In [5]:
# 5. Why and when to use while loop in python give detailed discription about it ?

# ==> When we don't know about number of iteration then we will use while loop by applying
#     a breaking condition otherwise our loop will run infinitely .
#     conditions we are applying in while loop :
#         if we got desired values the use break statement to break the while loop
#         if we don't want any value to be participated then we can use continue statement

In [6]:
# 6. Use nested while loop to print three different pattern

x=5
while x>0:
    y=1
    while y<=x:
        print(y,end='')
        y+=1
    print()
    x-=1

12345
1234
123
12
1

In [7]:
x=1
while x<=5:
    y=1
    while y<=x:
        print(y,end='')
        y+=1
    print()
    x+=1

1
12
123
1234
12345

In [8]:
x=5
while x>0:
    y=0
    while y<=x:
        if(y==x):
            print(y,end='')
        else:
            print(" ",end='')
        y+=1
    print()
    x-=1

     5
    4
   3
  2
 1

In [9]:
# 7. Reverse a while loop to print numbers from 10 to 1

num=10
while num>0:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

In [10]:
# 8. Reverse a while loop to print numbers from 10 to 1

num=10
while num>0:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1